/*Elementos */
body{
    text-align: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f7f7;
}
a{
    font-family: 'Poppins', sans-serif;
}

h1{
    margin: 0 auto;
    width: 40%;
    font-size: 5rem;
    font-family: 'Sacramento', cursive;
    color: #f9f7f7;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #112d4e;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #9fbbee;
}

hr{
    border-color: #b4b3b3;
    border-width: 15px;
    border-style: dotted none none none;
    width: 7.5%;
    height: 0;
}

/*Clases */
.profile-img{
    width: 200px;
    height: 200px;
}

.bottom-cloud{
    position: absolute;
    left: 30%;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 30%;
    top: 50px;
}

.underline{
    text-decoration-line: underline;
}

.top-container{
    position: relative;
    padding-top: 100px;
    background-color: #3f72af;
}

.middle-container{
    margin: 100px 0;
    background-color: #f9f7f7;
}

.bottom-container{
    background-color: #3f72af;
}

.copyright{
    margin: 0;
    color: #f9f7f7;
    font-weight: normal;
}

.subtitle{
    color: #f9f7f7;
    font-family: 'Poppins', sans-serif;
}

.skill-coding{
    max-width: 22.5%;
    height: auto;
    float: left;
    margin-right: 15px;
}

.skill-web{
    max-width: 22.5%;
    height: auto;
    float: right;
    margin-left: 15px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
    height: 200px;
}

.skill-problem{
    max-width: 22.5%;
    height: auto;
    float: left;
    margin-right: 15px;
}

.profile{
    width: 50%;
    margin: 30px auto;
}

.intro{
    width: 50%;
    margin: auto;
    line-height: 2;
}

.footer-link{
    text-decoration: none;
    margin: 0 10px;
    color: #112d4e;
}

.footer-link:hover{
    color: #dbe2ef;
}

.btn-contact{
    margin: 40px;
    background-color: #112d4e;
    color:#dbe2ef ;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    padding: 10px 40px;
    

    display: inline-block;
    cursor: pointer;
    border-radius: 20px;
}

.btn-contact:hover{
    color:#f9f7f7 ;
    background-color: #3f72af;
    text-decoration: none;
    border-radius: 16px;
}